#contact-info > *, #contact-info {
    text-decoration: none;
    margin: 20px 0;
    color: #333;
}

#contact-form {
    background-color: #FFFFFF;
    padding: 40px 20px;
}

#contact-fieldset {
    border: none;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#contact-fieldset label {
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 16px;
}

#contact-fieldset input, #contact-fieldset textarea {
    border: none;
    border-bottom: 1px solid #333;
    padding: 8px;
    background: transparent;
    outline: none;
}

#contact-fieldset input::placeholder, #contact-fieldset textarea::placeholder {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 15px;
}

#contact-fieldset textarea {
    resize: vertical;
    margin-bottom: 40px;
}

#contact-fieldset button {
    margin-top: 30px;
    padding: 15px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0F6ABA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#contact-fieldset button:hover {
    opacity: 0.9;
}